.Sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: max-content;
}

.Sidebar .item {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.Sidebar .item:hover{
    background: transparent;
    border: none ;
    border-radius: 0;
    color: var(--menu-items-color);
}

.Sidebar .item:active{
    background-color: transparent !important;
    border: none ;
    color: var(--menu-items-color) !important;
    filter: brightness(85%);
}