.ButtonWrapper {
    position: relative;
}

.ButtonWrapper .CancelButton {
    position: absolute;
    background: red;
    border: none;
    color: white;
    top: -6px;
    right: -6px;
    width: 20px !important;
    height: 15px !important;
    border-radius: 40px;
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    transition: all ease .3s;
}

.CancelButton:hover {
    background: #bf0000;
    transition: all ease .3s;
}

.CancelButton:active {
    background: #6a0000;
    transition: all ease .3s;
}

.ButtonWrapper:has(> .CancelButton:hover) {
    background: white !important;
}